# .aliases

alias rm='rm -I' # safety first
alias dcom='docker compose'
alias dk='docker'
alias ls='exa --group-directories-first'
alias la='ls -a'
alias ll='ls --git -l'
alias lt='ls --tree -D -L 2 -I ${TREE_IGNORE}'
alias ltt='ls --tree -D -L 3 -I ${TREE_IGNORE}'
alias lttt='ls --tree -D -L 4 -I ${TREE_IGNORE}'
alias ltttt='ls --tree -D -L 5 -I ${TREE_IGNORE}'
alias python="python3"

# Warroom deployment

alias deploy='ansible-playbook --private-key=~/.ssh/warroom-sg.pem -i'
alias deploy-stg-wr-api='deploy hosts-staging/api-and-cbc.ini warroom-staging/api.yml -vv'
alias deploy-prod-wr-cbc='deploy hosts/productionWarroomValentineRelease_web.ini ./warroom-production/web.yml -vv'
alias deploy-prod-wr-api='deploy hosts/productionWarroomValentineRelease_api.ini ./warroom-production/api.yml -vv'
alias deploy-prod-wr-api-bg='deploy hosts/productionWarroomValentineRelease_worker-api.ini ./warroom-production/worker-api.yml -vv'
alias deploy-prod-wr-worker='deploy hosts/productionWarroomValentineRelease_worker.ini ./warroom-production/worker.yml -vv'
alias deploy-prod-wr-job-runner='deploy hosts/job-runner.ini ./warroom-production/job-runner.yml -vv'
