# .aliases

alias rm='rm -I' # safety first
alias dcom='docker compose'
alias dk='docker'
alias ls='exa --group-directories-first'
alias la='ls -a'
alias lsa='ls -la'
alias ll='ls --git -l'
alias lt='ls --tree -D -L 2 -I ${TREE_IGNORE}'
alias ltt='ls --tree -D -L 3 -I ${TREE_IGNORE}'
alias lttt='ls --tree -D -L 4 -I ${TREE_IGNORE}'
alias ltttt='ls --tree -D -L 5 -I ${TREE_IGNORE}'
alias python="python3"

# Warroom deployment

alias deploy='python -m ansible playbook --private-key=~/.ssh/warroom-sg.pem -i'
alias deploy-stg-wr-api='deploy hosts-staging/api-and-cbc.ini warroom-staging/api.yml -vv'
alias deploy-stg-wr-cbc='deploy hosts-staging/api-and-cbc.ini warroom-staging/web.yml -vv'
alias deploy-stg-wr-worker='deploy hosts-staging/node-worker.ini warroom-staging/worker.yml -vv'
alias deploy-stg-wr-job-runner='deploy hosts-staging/node-worker.ini warroom-staging/job-runner.yml -vv'
alias deploy-stg-wr-miniapp='deploy hosts-staging/external.ini ./warroom-staging/miniapp.yml'
alias deploy-prod-wr-cbc='deploy hosts/web.ini ./warroom-production/web.yml -vv'
alias deploy-prod-wr-api='deploy hosts/api.ini ./warroom-production/api.yml -vv'
alias deploy-prod-wr-api-bg='deploy hosts/worker-api.ini ./warroom-production/worker-api.yml -vv'
alias deploy-prod-wr-worker='deploy hosts/worker.ini ./warroom-production/worker.yml -vv'
alias deploy-prod-wr-job-runner='deploy hosts/job-runner.ini ./warroom-production/job-runner.yml -vv'
alias deploy-prod-wr-miniapp='deploy hosts/external.ini ./warroom-production/miniapp.yml'
